﻿@model AnnouncementIndexModel

<table class="table">
    <tbody>
        @foreach (var item in Model.Announcements)
        {
            <tr>
                <td id="datePublished-@item.Id">
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhone)
                </td>
                <td>
                    <a asp-action="Details" asp-route-announcementId="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
            </tr>
            <tr>
                <td id="likesCount-@item.Id">
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>
                    <input type="button" announcementId="@item.Id" class="btn-primary" value="Like" />
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PagingModel.HasPreviousPage)
{
    @Html.ActionLink("<< Назад", "Index", "Announcement",
        new AnnouncementIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            DateFrom = Model.DateFrom,
            DateTo = Model.DateTo,
            Page = Model.Page - 1
        })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
    @Html.ActionLink("Вперед >>", "Index", "Announcement",
        new AnnouncementIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            DateFrom = Model.DateFrom,
            DateTo = Model.DateTo,
            Page = Model.Page + 1
        })
}