﻿@using FinalExam.DAL.Entities
@model FinalExam.Models.AnnouncementModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AnnouncementModel</h4>
    <hr />

    @switch (Model.AnnouncementImageType)
    {
        case AnnouncementImageType.Db:
            if (Model.Image != null && Model.Image.Length > 0)
            {
                <img style="width: 50%; height: 50%" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
            }
            break;
        case AnnouncementImageType.Disk:
            if (!string.IsNullOrWhiteSpace(Model.ImagePath))
            {
                <img style="width: 50%; height: 50%" src="@Url.Content(Model.ImagePath)" />
            }
            break;
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        
    </dl>

    <table id="commentsTable" class="table">
        <tbody>
            @foreach (var item in Model.Comments)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
            </tr>
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="gallery">
    @foreach (var galleryImage in Model.Images)
    {
        if (galleryImage.Image != null && galleryImage.Image.Length > 0)
        {
            <img style="width: 20%; height: 20%" src="data:image/jpeg;base64,@(Convert.ToBase64String(galleryImage.Image))" />
        }
    }
</div>
<div>
    <div><input type="button" id="addComment" class="btn-primary" value="Comment" /></div>
    <div id="commentForm" style="display: none">
        <div><textarea id="commentText" class="form-control"></textarea></div>
        <div><input type="button" id="sendComment" class="btn-primary" value="Send" /></div>
    </div>
    <br />

    <div><input type="button" onclick="upfunc(@Model.Id)" id="upAnnounce" class="btn-primary" value="Up!" /></div>

    <a asp-action="Index">Back to List</a>
</div>
@{
    var addGalleryImageModel = new AddGalleryImageModel()
    {
        AnnouncementId = Model.Id
    };
}

<partial name="_GalleryImagesPartial" model="@addGalleryImageModel" />

@section Scripts
    {
    <script>

        $('#addComment').click(function () {
            $('#commentForm').val('');
            $('#commentForm').show();
            $('#addComment').hide();
    });

        $('#sendComment').click(function () {

        var comment = $('#commentText').val();
        var announcementId = '@Model.Id';
            $.ajax({
        url: '@Url.Action("AddComment", "Announcement")',
                method: 'POST',
                data: { 'comment': comment, 'announcementId': announcementId },
                dataType: 'JSON',
                error: function (data) {
                console.log(data);
                alert('Error ' + data.status + "\n" + data.responseText);
            },
                success: function (data) {
                    $('#commentForm').hide();
                    $('#addComment').show();
                var authorCell = "<td>" + data.authorName + "</td>";
                var createdOnCell = "<td>" + data.createdOn + "</td>";
                var content = "<td colspan='2'>" + data.content + "</td>";
                var newRow = "<tr>" + authorCell + createdOnCell + "</tr>" + "<tr>" + content + "</tr>";
                    $('#commentsTable tbody').append(newRow);
            }
        });
        });

        const upfunc = (announcementId) => {$.ajax({
                url: '@Url.Action("UpAnnouncement", "Announcement")',
                method: 'POST',
                data: { 'announcementId': announcementId },
                error: function (data) {
                    console.log(data);
                    alert('Error ' + data.status + "\n" + data.responseText);
                },
                success: function (data) {
                    $('#datePublished-' + announcementId).html(data);
                }
            });}

        $('#uploadImages').on('click', function () {
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadAjax", "Announcement")' + '/?announcementId=' + $('#announcementId').val(),
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var img = '<img style="width: 20%; height: 20%" src="data:image/jpeg;base64,' +
                                data[i].image +
                                '"/>';
                            $('#gallery').append(img);
                        }
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            }
        })

    </script>
}